.code{
	font-family: "Lucida Console", Courier, monospace;
}

#main{
	background-color: white; 
}

h3{
	background-color: rgb(255, 192, 0);
	padding: 10px;
}

.meal-table, .meal-table th, .meal-table td{
	border-collapse: collapse;
	border: solid 1px;
}

.simple-table, .simple-table th, .simple-table td{
	border-collapse: collapse;
	border: solid 1px;
}

