<html>
	<head><title>task master/food</title></head>
	<link rel="stylesheet" type="text/css" href="/static/taskmaster.css" />
<body>
<h3>Task Master/ foods</h3>
{{#if modified}}
<p style="color: red;"> modification prise en compte</p>
{{/if}}
<form method="POST" action="/food/{{id}}/">
	<p>
		<ul>
			<li> date: <input type="text" name="food_date" value="{{date}}" /> </li>
		</ul>
		<input type="submit" value="OK" />
	</p>
</form>
	<p><a href="/foods">retour</a></p>
</body>
</html>





