<html>
	<head><title>Task master</title></head>
<body>
<h2>Tâches</h3>
<p>
	<ul>
		{{#each tasks}}
		<li><a href="/task/{{this.id}}/">{{this.name}}</a></li>
		{{/each}}
	</ul>
</p>



<h2>Actions</h2>
<ul>
	<li>
		<form action="/" method="post" >
			<input type="text" name="name"/>
			<input type="submit" value="créer" />
		</form>
	</li>
	<li><a href="/tasks/dump/">dump</a></li>
</ul>
</body>
</html>





