<html>
	<head><title>task master/meals/tips</title></head>
	<link rel="stylesheet" type="text/css" href="/taskmaster/static/taskmaster.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div id="main">
	<h3><a href="/taskmaster/">taskmaster</a>/<a href="/taskmaster/meals/">meals</a>/tips</h3>
	<h3> idées</h3>
	<div class="code">
		<table class="simple-table">
			<thead>
				<tr>
					<th>nom</th>
				</tr>
			</thead>
			<tbody>
			{{#each tips}}
			<tr>
				<td>{{this.name}}</td>
			</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
	<h3> liens</h3>
	<ul>
		<li><a href="/taskmaster/meals">/meals</a></li>
	</ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
</body>
</html>





