<html>
	<head><title>task master/meals/dump</title></head>
	<link rel="stylesheet" type="text/css" href="/static/taskmaster.css" />
<body>
<h3><a href="/">taskmaster</a>/<a href="/meals">meals</a>/dump</h3>
<textarea id="dump" rows="10" cols="45">
{{this.rawDump}}
</textarea>
<div>
	<input type="button" id="dump-check-button" value="check" onclick="checkDump"/>
	<span id="dump-check-status">no check</span>
</div>
<script type="text/javascript" src="/static/meals-dump.js"></script>
</body>
</html>





