<html>
	<head><title>task master/meals/dump</title></head>
	<link rel="stylesheet" type="text/css" href="/static/taskmaster.css" />
<body>
<h2>meals/dump</h2>
<textarea id="dump" rows="10" cols="45">
{{this.rawDump}}
</textarea>
<div>
	<p id="dump-check-status">no check</p>
	<input type="button" id="dump-check-button" value="check" onclick="checkDump"/>
</div>
<p><a href="/meals">return</a></p>
<script type="text/javascript" src="/static/meals-dump.js"></script>
</body>
</html>





