<html>
	<head><title>task master/meals/dump</title></head>
	<link rel="stylesheet" type="text/css" href="/taskmaster/static/taskmaster.css" />
<body>
<h3><a href="/taskmaster">taskmaster</a>/<a href="/taskmaster/meals">meals</a>/dump</h3>
<form id="form-meals-dump" action="/taskmaster/meals/dump" method="post" >
	<textarea id="meals-dump" name="dump" rows="10" cols="45">{{this.rawDump}}</textarea>
	<div>
		<input type="button" id="meals-dump-check-button" value="check" onclick="checkDump"/>
		<span id="meals-dump-check-status">no check</span>
	</div>
	<input type="submit" id="meals-dump-submit" value="sync" />
</form>
<script type="text/javascript" src="/taskmaster/static/meals-dump.js"></script>
</body>
</html>





